@using Microsoft.AspNetCore.Identity;
@using WebApplication1.Models;
@inject SignInManager<AppUser> SignInManager;
@inject UserManager<AppUser> UserManager;

@{
    
}

<ul class="navbar-nav">
    
    @if(SignInManager.IsSignedIn(User))
    {
        <li>
            <a class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                    Xin chào @UserManager.GetUserName(User)
                </a>
            </a>
        </li>
        <li>
            <a class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Đăng xuất</a>
            </a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
            </a>
        </li>
        <li>
            <a class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
            </a>
        </li>
    }

    
</ul>