@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vui lòng kiểm tra email của bạn để thiết lập lại mật khẩu của bạn.
</p>

